*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: var(--violet);
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url('bg-mobile.svg');
    background-size: contain;
    /* background-position:  middle; */
    background-repeat: no-repeat;
    padding:2rem;
}

.fix{
    width:100vw;
    height: 100vh;
}

